@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: 0px;
    font-family: 'Open Sans', sans-serif;
    min-width: 550px;
}
*{
    margin-top: 0%;
}
.bar{
    background-color: grey;
}
.open{
    background-color: black;
    color: white;
}

.navbar-brand {
    height: 50px;
    color: black !important;
    font-size: 30px;
    margin-right: 70px;
}
.navbar-brand span{
    color: white;
    font-size: 18px;
}


.nav-item a {
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}

.navbar-nav {
    margin-right: 100px;
}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
    color: grey;
}

.nav-item.active a {
    color:white !important;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.container img {
    width: 25%;
    height: 25%;
    border-bottom: 3px solid black;
}

.container h1 {
    font-family: 'Berkshire Swash', cursive;
    margin-top: 25px;
    color: white;
}

.container p {
    font-size: 18px;
    margin: 20px auto 25px;
    color: grey;
}

.container button {
    height: 75px;
    width: 250px;
    border-radius: 0px;
    margin-top: 20px;
}

.container #button1 {
    background-color: black;
    color: white;
    margin-right: 10px;
    border-radius: 2px;
    border: 0px;
   
}

.container #button2 {
    background-color: black;
    color: white;
    border-radius: 2px;
    border: 0px;
    
}

.container #button2:hover {
    background-color: greenyellow;
    color: white;
    border: 3px solid white;
}

.container #button1:hover {
    background-color: greenyellow;
    color: white;
    border: 3px solid white;
}
